          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '9' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA             ___cafeteria____09ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '10' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> LICUADOS Y JUGOS      ___cafeteria____10ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
