    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO SALON . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN SALON . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA SALON . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO/ANANA E/ALM SALON $170</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE SALON . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU CASERO . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERO . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA/DULCE SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. MIXTO SALON . . . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. MANTECA/ MERME . . .  $15</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/seraf/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
