    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS Y JUGOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO CHICO . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO SALON . . . . . $175</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS VARIOS SALON . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. LECHE/JUGO SALON . .  $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VASO DE VINO        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MEDIO CROTTA MOSCATO . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO SALON . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LOPEZ . . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VASCO VIEJO . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO FAMILIA CROTTA . . . $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS FINOS 3/4 LTS </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 SALON . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 SALON . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .1/2 SALON . . . .  $285</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 SALON . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 SALON . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>R.INCON FAMOSO 1/2 SALON  $315</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA LITRO CROTTA . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA .MEDIO .LITRO CROTT $190</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO JARRA 1/2 LITRO . .  $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS SIN ALCOHOL </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA PERSONAL . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span> GASEOSA LATA 354ML . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA SALON 500 CM3 . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA VILLAVICENCIO SALON  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TONICA LATA SALON . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADAS SALON . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA MINERAL 1500 SALON . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERTIVOS           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA . . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO ROSSO/BLANCO . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA . . . . . . . . .  $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATA SCHNEIDER . . . . .  $125</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA IMPERIAL . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA HENEKEN . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>HEINEKEN 1L .SALON . . .  $335</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL STOUT 1 LTS . .  $285</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL RUBIA 1 LTS . .  $285</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL IPA/APA LTS . .  $285</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON IMPERIAL RUBIA . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON IMPERIAL IPA/APA . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON HEINEKEN . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON STOUD IMPERIAL . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON IMP AMBER LAGER .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA SCHNEIDER 330CC . .  $130</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BAYLEYS . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA REAL . . . . . . .  $440</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY IMPORTADO / C</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J Y B . . . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $125</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE Y SIDRA   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA REAL . . . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON 187 . . . . . . . $770</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/seraf/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
