    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE SALON . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE .CREMA SALON . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE SALON . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/CREMA SALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE SALON . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE + 3 .SALON $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE PAN Y MANTEC $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO SALON . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO ITALIANO SALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO SALON . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA SALON . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE SALON . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE SALON . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO SALON . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/GOTAS SALON . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO LECH FRIA/CALI SALON $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA NESQUIK SALON $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE CALIENTE SALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO SALON . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIAL SALON . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. TOSTADAS C/QUESO ME $110</li>                          
                <li class="text-center"><span class="fa-li"></span>2 MEDIALUNAS JAMON Y QUES $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TE COMPLETO SERAFIN . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA JYQ (2) TOSTADO $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PASTELERIA          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS .C/U . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA MEDIALUNAS . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA MEDIA DOCENA .  $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/seraf/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
