    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZA GRANDE        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GR01 MUZZARELLA SALON . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR02 SERAFIN SALON . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR04 JAMON Y MORRON SALON $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR05 ANCHOAS SALON . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR306 FUGAZZA SALON . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR07 FUGAZZETTA SALON . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GR08 NAPOLITANA SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR09 NAPO ESPECIAL SALON  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR10 CALABRESA SALON . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR11 PROVOLONE SALON . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR12 PALMITOS SALON . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR13 ROQUEFORT SALON . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR14 CARIBE헤 SALON . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR15 ROMANA SALON . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR16 VERDE SALON . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 19 FUGAZZA C QUES SALO $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZARELL. DELIVERY $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02 SERAFIN DELIVERY .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 MUZZA/JAM. DELIVERY $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 04 JAM/MORR. DELIVERY  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 ANCHOAS. DELIVERY . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 FUGAZZA. DELIVERY . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZETA. DELIVERY $770</li>                          
                <li class="text-center"><span class="fa-li"></span>GR08 NAPOLITANA DELIVERY  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 09 NAPO.ESP. DELIVERY  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 CALABRESA. DELIVERY $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11 PROVOLONE. DELIVERY $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 PALMITOS. DELIVERY  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 AL ROQUEF. DELIVERY $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14 CARIBE헤. .DELIVERY $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15 ROMANA. DELIVERY .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16 VERDE. DELIVERY . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA/DULCE SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. ALBAHACA O RUCULA .   $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZA CHICA         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CH01 MUZZARELLA SALON . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH02 SERAFIN SALON . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH03 JAMON SALON . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CH04 JAMON Y MORRON SALON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CH05ANCHOAS SALON . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CH FUGAZZA C/ QUESO . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 08 NAPOLITANA. SALON . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 09 NAPO ESPECIAL SALON $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 CALABRESA. SALON .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11 PROVOLONE. SALON .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 PALMITOS. SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 AL ROQUEFORT. SALON $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 CARIBE헤. SALON . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROMANA. SALON . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 VERDE . . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CH. HISPANA . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH19 FUGAZA C QUESO SALON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELL. DELIVERY $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 02 ESP SERAFIN.DELIV . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 MUZZA/JAM. DELIVERY $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAM/MORR. DELIVERY  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05 ANCHOAS. DELIVERY . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CH FUGAZZA . . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 08 NAPOLITANA DELIVERY $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 09 NAPO. ESP.DELIVERY  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 CALABRESA. DELIVERY $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11 PROVOLONE. DELIVERY $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 PALMITOS. DELIVERY  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 AL ROQUEF. DELIVERY $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 CARIBE헤. DELIVERY  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROMANA. DELIVERY .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CHI 16 VERDE DELIVERY . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 18 HISPANA DELIVERY .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 19 FUGAZZA C QUESO DEL $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SALON C/U . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS. MOSTRADOR C/U   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS 1/2 DOCENA . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS 1 DOCENA . . .  $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TARTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTA DELIVERY . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTAS SALON . . . . . .  $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZA PORCION       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA DELIVERY .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR C\JAMON . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. JAM Y MORR .BARRA .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ANCHOAS BARRA . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUGAZZA BARRA . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUGAZZETA BARRA . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. NAPOLITANA BARRA .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. NAPO ESPECIAL BARRA  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. CALABRESA BARRA . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. PROVOLONE BARRA . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. PALMITOS BARRA . .   $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ROQUEFORT BARRA . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. CARIBE헤 BARRA . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ROMANA BARRA . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDE BARRA . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>P.ORC. FAINA BARRA . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>POR FUGAZETA C/JAMON . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>POR RUCULA Y CRUDO . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZARELLA SALON .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ANCHOAS SALON . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUGAZZA SALON . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUGAZZETTA SALON .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. NAPO ESPECIAL SALON  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ROQUEFORT SALON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. CARIBE헤 SALON . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ROMANA SALON . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDE SALON . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FAINA SALON . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>2 X MUZZA O 2EMP+ HEINEK  $249</li>                          
                <li class="text-center"><span class="fa-li"></span>2 PORC.MUZZA+BEBIDA SALON $199</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARABE QUESO SOLO . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE JAMON Y QUESO . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE JAMON CRUDO Y QUESO $280</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE JAMON CRUDO . .  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/seraf/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
